@use '@angular/material' as mat;

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--mat-sys-primary-container);
}

main {
    padding: 2.5% 10%;
}

main>form {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main>form mat-card {
    width: 100%;
    margin-bottom: 1rem;
}

main>form>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main>div>mat-card{
    margin-bottom: 1rem;
}

mat-card {
    padding: 0rem 1rem;
}

.col-indice {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

table {
    margin: 1rem 0;
}

table.mat-elevation-z8 {
    table-layout: auto;
}

table > caption {
    caption-side: top;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
