<header>
    <h1>Sistemas de recomendación | Modelos basados en contenido</h1>
    <span>Gestión del conocimiento en las organizaciones</span>
</header>
<main>
    <form [formGroup]="formRecomendacion">
        <mat-card>
            <mat-card-header>
                <mat-card-title> Conjunto de documentos </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> Seleccione uno o varios archivos en formato TXT a analizar. </p>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Ficheros a analizar</mat-label>
                    <ngx-mat-file-input placeholder="Seleccionar archivo" [accept]="'.txt'" formControlName="documentos"
                        maxFileCount="50" multiple></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <mat-card><mat-card-header>
                <mat-card-title> Fichero con stop words </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> Seleccione un archivo TXT. </p>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fichero con las stop words</mat-label>
                    <ngx-mat-file-input placeholder="Seleccionar archivo" [accept]="'.txt'"
                        formControlName="ficheroStopWords"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <mat-card><mat-card-header>
                <mat-card-title> Fichero de lematización de términos </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> Seleccione un archivo TXT. </p>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fichero de lematización</mat-label>
                    <ngx-mat-file-input placeholder="Seleccionar archivo" [accept]="'.txt'"
                        formControlName="ficheroLematizacion"></ngx-mat-file-input>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </mat-card-content>
        </mat-card>
        <button matFab extended (click)="generarResultados()">
            <mat-icon>upload</mat-icon>
            Generar recomendaciones
        </button>
    </form>
    <div>
        <mat-card *ngIf="datos.length > 0">
            <mat-card-header>
                <mat-card-title> Resultados </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let dato of datos">
                    <h3> Documento: {{dato.documento}} </h3>
                    <table mat-table [dataSource]="dato.resultados" class="mat-elevation-z8" style="width: 100%; margin-bottom: 20px;">
                        <ng-container matColumnDef="indice">
                            <th mat-header-cell *matHeaderCellDef> Índice </th>
                            <td mat-cell *matCellDef="let element"> {{element.indice}} </td>
                        </ng-container>
                        <ng-container matColumnDef="termino">
                            <th mat-header-cell *matHeaderCellDef> Término </th>
                            <td mat-cell *matCellDef="let element"> {{element.termino}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tf">
                            <th mat-header-cell *matHeaderCellDef> TF </th>
                            <td mat-cell *matCellDef="let element"> {{element.tf}} </td>
                        </ng-container>
                        <ng-container matColumnDef="idf">
                            <th mat-header-cell *matHeaderCellDef> IDF </th>
                            <td mat-cell *matCellDef="let element"> {{element.idf}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tfidf">
                            <th mat-header-cell *matHeaderCellDef> TF-IDF </th>
                            <td mat-cell *matCellDef="let element"> {{element.tfidf}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="['indice', 'termino', 'tf', 'idf', 'tfidf']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['indice', 'termino', 'tf', 'idf', 'tfidf'];"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</main>
<footer>

</footer>
